
.list-author, .list-comments {
    color: #999;
}

.list-sort {
    padding: 5px;
    text-align: center;
}

.list-item {
    overflow: auto;
}

.list-no-posts {
    text-align: center;
}

.content-panel {
    float: right;
}

.post-header {
    overflow: auto;
}

.form-group {
    margin: 0;
}

.comment-commit {
    text-align: right;
}

.comment-commit {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    text-align: right;
}

.comment-input {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.comment-none {
    text-align: center;
    font-size: large;
    margin: 1em;
}
